Repository dedis/d-voting, pull requests merged in 2022-06, with the labels that each got.

#136 Gets the default proxy with the backend
  docs/frontend_doc.md
  web/frontend/src/components/utils/Endpoints.tsx
  web/frontend/src/components/utils/proxy.tsx
  web/frontend/src/components/utils/useElection.tsx
  web/frontend/src/index.tsx
  web/frontend/src/layout/Footer.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/pages/election/Index.tsx
  web/frontend/src/pages/election/components/utils/useChangeAction.tsx
  web/frontend/src/pages/election/components/utils/useGetResults.tsx
Labels: web frontend

#138 Clean up the mocks, and remove the ID in the result.json
  web/frontend/src/language/en.json
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/setupMockElections.ts
  web/frontend/src/pages/election/Result.tsx
  web/frontend/src/pages/session/Profile.tsx
  web/frontend/src/types/election.ts
Labels: web frontend

#140 Fix the polling when node is already setup
  web/frontend/src/pages/election/components/utils/PollStatus.ts
Labels: dkg, web frontend

#142 Fix the encoding to base64 for text questions
  contracts/evoting/types/ballots.go
  docs/ballot_encoding.md
  web/frontend/src/language/en.json
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/ballot/components/VoteEncode.tsx
  web/frontend/src/pages/ballot/components/VoteEncrypt.tsx
Labels: Ballot size, web frontend, web backend

#143 Fix ballot encoding, and the results page
  docs/ballot_encoding.md
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/mockData.ts
  web/frontend/src/mocks/setupMockElections.ts
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/ballot/components/VoteEncode.tsx
  web/frontend/src/pages/election/Result.tsx
  web/frontend/src/types/getObjectType.ts
Labels: web frontend

#144 Fix the ballot encoding
  docs/ballot_encoding.md
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/ballot/components/VoteEncode.tsx
Labels: documentation, web frontend

#145 Use the decoded ID of questions to unmarshal ballot
  contracts/evoting/types/ballots.go
Labels: web backend, node backend

#147 Modularize ballot unmarshall
  contracts/evoting/types/ballots.go
  contracts/evoting/types/ballots_test.go
  contracts/evoting/types/election.go
  integration/performance_test.go
  internal/testing/fake/election.go
Labels: tests, node backend

#146 Fixes Mobile responsiveness
  docs/frontend_doc.md
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/assets/d-votingSystem.png
  web/frontend/src/assets/introductionImage.png
  web/frontend/src/language/en.json
  web/frontend/src/layout/Flash.tsx
  web/frontend/src/layout/Footer.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/pages/About.tsx
  web/frontend/src/pages/Home.tsx
  web/frontend/src/pages/admin/DKGTable.tsx
  web/frontend/src/pages/admin/ProxyRow.tsx
  web/frontend/src/pages/election/Show.tsx
  web/frontend/src/pages/election/components/ActionButtons/ResultButton.tsx
  web/frontend/src/pages/election/components/ActionButtons/VoteButton.tsx
  web/frontend/src/pages/election/components/ElectionRow.tsx
  web/frontend/src/pages/election/components/ElectionTable.tsx
  web/frontend/src/pages/election/components/ElectionTableFilter.tsx
  web/frontend/src/pages/election/components/utils/useChangeStatus.tsx
  web/frontend/tailwind.config.js
Labels: web frontend

#151 Adds the voters list to the GetElectionResponse
  docs/api.md
  proxy/election.go
  proxy/types/election.go
Labels: API, node backend

#152 Display the number of ballot cast so far on election page
  web/frontend/src/components/utils/FillElectionInfo.tsx
  web/frontend/src/components/utils/useElection.tsx
  web/frontend/src/language/en.json
  web/frontend/src/layout/Footer.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/setupMockElections.ts
  web/frontend/src/pages/election/Show.tsx
  web/frontend/src/pages/election/components/DKGStatusRow.tsx
  web/frontend/src/pages/election/components/DKGStatusTable.tsx
  web/frontend/src/pages/election/components/LoadingButton.tsx
  web/frontend/src/pages/election/components/UserIDTable.tsx
  web/frontend/src/pages/election/components/utils/useChangeAction.tsx
  web/frontend/src/types/election.ts
Labels: web frontend

#154 Add checks on Voters state
  web/frontend/src/pages/election/Show.tsx
Labels: web frontend

#153 Fix web backend to redirect DKG setup requests
  docs/api.md
  web/backend/src/Server.ts
Labels: web backend

#155 Fix the decryption so that it uses the default proxy
  web/backend/src/Server.ts
Labels: web backend
