Repository dedis/d-voting, pull requests merged in 2022-05, with the labels that each got.

#105 Fix the status enum
  web/frontend/src/components/utils/CancelButton.tsx
  web/frontend/src/components/utils/CloseButton.tsx
  web/frontend/src/components/utils/DecryptButton.tsx
  web/frontend/src/components/utils/ElectionFields.tsx
  web/frontend/src/components/utils/FillElectionInfo.tsx
  web/frontend/src/components/utils/OpenButton.tsx
  web/frontend/src/components/utils/ResultButton.tsx
  web/frontend/src/components/utils/ShuffleButton.tsx
  web/frontend/src/components/utils/useChangeAction.tsx
  web/frontend/src/components/utils/useChangeStatus.tsx
  web/frontend/src/components/utils/useGetResults.tsx
  web/frontend/src/language/en.json
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/mockData.ts
  web/frontend/src/mocks/setupMockElections.ts
  web/frontend/src/mocks/setupMockUserDB.ts
  web/frontend/src/pages/ballot/Index.tsx
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/election/Result.tsx
  web/frontend/src/pages/election/Show.tsx
  web/frontend/src/pages/election/components/Action.tsx
  web/frontend/src/pages/election/components/ElectionTable.tsx
  web/frontend/src/pages/election/components/SimpleTable.tsx
  web/frontend/src/types/election.ts
  web/frontend/src/types/electionInfo.ts
  web/frontend/src/types/frontendRequestBody.ts
  web/frontend/src/types/userRole.ts
Labels: web frontend

#111 Updates GetElectionResponse
  proxy/election.go
  proxy/types/election.go
Labels: API, node backend

#113 Updates the proxy timeout and improves error
  proxy/election.go
  proxy/mod.go
Labels: node backend

#116 Fixes the web-backend on the voting endpoint
  web/backend/src/Server.ts
Labels: web backend

#118 Adds the functionality to delete an election
  contracts/evoting/controller/action.go
  contracts/evoting/evoting.go
  contracts/evoting/json/transaction.go
  contracts/evoting/mod.go
  contracts/evoting/mod_test.go
  contracts/evoting/types/transactions.go
  docs/api.md
  proxy/election.go
  proxy/mod.go
  web/backend/src/Server.ts
  web/frontend/src/components/utils/DeleteButton.tsx
  web/frontend/src/language/en.json
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/pages/election/components/Action.tsx
Labels: enhancement, web frontend, web backend, node backend

#120 Adds redirect after actions
  web/frontend/src/components/modal/RedirectToModal.tsx
  web/frontend/src/language/en.json
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/election/New.tsx
  web/frontend/src/pages/election/Result.tsx
  web/frontend/src/pages/election/components/ElectionForm.tsx
Labels: web frontend

#122 Adds loading spinner to cast vote
  web/frontend/src/pages/ballot/Show.tsx
Labels: web frontend

#98 Added status metrics to d-voting
  contracts/evoting/evoting.go
  contracts/evoting/mod.go
  contracts/evoting/mod_test.go
Labels: node backend

#121 Adds roles handling in RequireAuth Context
  web/frontend/src/Routes.ts
  web/frontend/src/language/en.json
  web/frontend/src/layout/App.tsx
  web/frontend/src/layout/ClientError.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/setupMockUserDB.ts
  web/frontend/src/pages/election/components/SubjectComponent.tsx
Labels: web frontend

#129 Fixes error handling on the proxy
  proxy/dkg.go
  proxy/election.go
  proxy/mod.go
  proxy/shuffle.go
  runNode.sh
Labels: node backend

#130 Adds proxies handling on the web backend
  docs/frontend_doc.md
  web/backend/src/Server.ts
  web/frontend/src/components/utils/Endpoints.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/types/election.ts
Labels: web backend

#128 Fix the UI of the result and vote page
  web/frontend/public/index.html
  web/frontend/src/components/buttons/DownloadButton.tsx
  web/frontend/src/components/buttons/TextButton.tsx
  web/frontend/src/components/utils/useConfiguration.tsx
  web/frontend/src/language/en.json
  web/frontend/src/layout/NavBar.tsx
  web/frontend/src/pages/About.tsx
  web/frontend/src/pages/ballot/New.tsx
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/ballot/components/BallotDisplay.tsx
  web/frontend/src/pages/ballot/components/Rank.tsx
  web/frontend/src/pages/ballot/components/Select.tsx
  web/frontend/src/pages/ballot/components/Text.tsx
  web/frontend/src/pages/election/Result.tsx
  web/frontend/src/pages/election/components/ElectionForm.tsx
  web/frontend/src/pages/election/components/ProgressBar.tsx
  web/frontend/src/pages/election/components/RankResult.tsx
  web/frontend/src/pages/election/components/ResultExplanation.tsx
  web/frontend/src/pages/election/components/SelectResult.tsx
  web/frontend/src/pages/election/components/TextResult.tsx
  web/frontend/src/pages/election/components/utils/countResult.ts
  web/frontend/src/types/JSONparser.ts
  web/frontend/src/types/getObjectType.ts
Labels: web frontend
