Repository dedis/d-voting, pull requests merged in 2022-11, with the labels that each got.

#199 Adding a hint field feature
  contracts/evoting/types/ballots.go
  web/frontend/src/components/buttons/HintButton.tsx
  web/frontend/src/language/en.json
  web/frontend/src/pages/ballot/components/Rank.tsx
  web/frontend/src/pages/ballot/components/Select.tsx
  web/frontend/src/pages/ballot/components/Text.tsx
  web/frontend/src/pages/form/components/AddQuestionModal.tsx
  web/frontend/src/pages/form/components/UploadFile.tsx
  web/frontend/src/schema/configurationValidation.ts
  web/frontend/src/schema/form_conf.json
  web/frontend/src/types/configuration.ts
  web/frontend/src/types/getObjectType.ts
Labels: web frontend

#204 Uses enforceSync to check authorizations
  web/backend/src/Server.ts
Labels: web backend

#201 Readjustement of the introduction image and first version of casbin authorization mechanism
  web/backend/model.conf
  web/backend/package.json
  web/backend/policy.csv
  web/backend/src/Server.ts
  web/backend/tsconfig.json
  web/backend/yarn.lock
  web/frontend/src/index.tsx
  web/frontend/src/layout/NavBar.tsx
  web/frontend/src/pages/Home.tsx
Labels: web frontend, web backend

#215 Individual Results Feature
  web/frontend/src/language/en.json
  web/frontend/src/pages/form/GroupedResult.tsx
  web/frontend/src/pages/form/IndividualResult.tsx
  web/frontend/src/pages/form/Result.tsx
  web/frontend/src/pages/form/components/utils/countResult.ts
Labels: web frontend
