Repository dedis/d-voting, pull requests merged in 2022-04, with the labels that each got.

#68 Adds create election form
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/modal/Modal.tsx
  web/frontend/src/language/en.json
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/mockData.ts
  web/frontend/src/pages/election/New.tsx
  web/frontend/src/pages/election/components/AddButton.tsx
  web/frontend/src/pages/election/components/DeleteButton.tsx
  web/frontend/src/pages/election/components/ElectionForm.tsx
  web/frontend/src/pages/election/components/Question.tsx
  web/frontend/src/pages/election/components/SubjectComponent.tsx
  web/frontend/src/pages/election/components/UploadFile.tsx
  web/frontend/src/pages/election/components/utils/useQuestionForm.ts
  web/frontend/src/schema/configurationValidation.ts
  web/frontend/src/schema/election_conf.json
  web/frontend/src/types/JSONparser.ts
  web/frontend/src/types/configuration.ts
  web/frontend/src/types/frontendRequestBody.ts
  web/frontend/src/types/getObjectType.ts
Labels: web frontend

#82 Updates installation of staticcheck
  Makefile
Labels: bug, tests

#71 Modify cast ballot to handle the new election format
  docs/ballot_encoding.md
  web/frontend/package-lock.json
  web/frontend/package.json
  web/frontend/src/components/modal/RedirectToModal.tsx
  web/frontend/src/components/utils/ElectionFields.tsx
  web/frontend/src/components/utils/Endpoints.tsx
  web/frontend/src/components/utils/SimpleTable.tsx
  web/frontend/src/components/utils/useConfiguration.tsx
  web/frontend/src/components/utils/useElection.tsx
  web/frontend/src/components/utils/useFillElectionFields.tsx
  web/frontend/src/components/utils/usePostCall.tsx
  web/frontend/src/index.tsx
  web/frontend/src/language/en.json
  web/frontend/src/layout/NavBar.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/mockData.ts
  web/frontend/src/pages/Home.tsx
  web/frontend/src/pages/ballot/Index.css
  web/frontend/src/pages/ballot/Index.tsx
  web/frontend/src/pages/ballot/Show.css
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/ballot/components/Rank.tsx
  web/frontend/src/pages/ballot/components/Select.tsx
  web/frontend/src/pages/ballot/components/Text.tsx
  web/frontend/src/pages/ballot/components/ValidateAnswers.ts
  web/frontend/src/pages/ballot/components/VoteEncode.tsx
  web/frontend/src/pages/ballot/components/VoteEncrypt.tsx
  web/frontend/src/pages/election/Show.tsx
  web/frontend/src/pages/election/components/ElectionForm.tsx
  web/frontend/src/pages/election/components/ElectionTable.tsx
  web/frontend/src/pages/election/components/Question.tsx
  web/frontend/src/pages/election/components/SimpleTable.tsx
  web/frontend/src/pages/election/components/SubjectComponent.tsx
  web/frontend/src/pages/election/components/UploadFile.tsx
  web/frontend/src/pages/election/components/utils/useQuestionForm.ts
  web/frontend/src/pages/result/Index.tsx
  web/frontend/src/pages/result/Show.tsx
  web/frontend/src/types/JSONparser.ts
  web/frontend/src/types/configuration.ts
  web/frontend/src/types/frontendRequestBody.ts
  web/frontend/src/types/getObjectType.ts
Labels: web frontend

#87 Fixes navbar UI
  web/frontend/src/components/ProfilePicture.tsx
  web/frontend/src/language/LanguageSelector.tsx
  web/frontend/src/language/de.json
  web/frontend/src/language/en.json
  web/frontend/src/language/fr.json
  web/frontend/src/layout/NavBar.tsx
  web/frontend/src/layout/components/Profile.tsx
Labels: web frontend

#92 Adds better handling of errors
  web/frontend/src/components/modal/Modal.tsx
  web/frontend/src/index.tsx
  web/frontend/src/layout/NavBar.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/pages/election/components/ElectionForm.tsx
  web/frontend/src/pages/session/HandleLogin.tsx
  web/frontend/src/pages/session/Login.tsx
Labels: web frontend

#86 Fixes Frontend API requests
  web/frontend/src/components/modal/Modal.tsx
  web/frontend/src/components/utils/ElectionFields.tsx
  web/frontend/src/components/utils/Endpoints.tsx
  web/frontend/src/components/utils/FillElectionInfo.tsx
  web/frontend/src/components/utils/StatusNumber.tsx
  web/frontend/src/components/utils/useChangeAction.tsx
  web/frontend/src/components/utils/useChangeStatus.tsx
  web/frontend/src/components/utils/useElection.tsx
  web/frontend/src/components/utils/useFetchCall.tsx
  web/frontend/src/components/utils/useFillElectionFields.tsx
  web/frontend/src/components/utils/useGetResults.tsx
  web/frontend/src/components/utils/usePostCall.tsx
  web/frontend/src/index.tsx
  web/frontend/src/layout/NavBar.tsx
  web/frontend/src/layout/components/Profile.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/pages/ballot/Index.tsx
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/election/Index.tsx
  web/frontend/src/pages/election/Show.tsx
  web/frontend/src/pages/election/components/Action.tsx
  web/frontend/src/pages/election/components/ElectionForm.tsx
  web/frontend/src/pages/election/components/ElectionTable.tsx
  web/frontend/src/pages/election/components/SimpleTable.tsx
  web/frontend/src/pages/result/Index.tsx
  web/frontend/src/pages/result/Show.tsx
  web/frontend/src/pages/session/HandleLogin.tsx
  web/frontend/src/pages/session/Login.tsx
  web/frontend/src/types/electionInfo.ts
  web/frontend/src/types/frontendRequestBody.ts
Labels: web frontend, web backend

#93 Adds the "Open" action
  web/frontend/src/Routes.ts
  web/frontend/src/components/utils/Endpoints.tsx
  web/frontend/src/components/utils/useChangeAction.tsx
  web/frontend/src/components/utils/useChangeStatus.tsx
  web/frontend/src/components/utils/useFetchCall.tsx
  web/frontend/src/language/en.json
  web/frontend/src/layout/App.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/pages/election/Index.tsx
  web/frontend/src/pages/election/components/ElectionTable.tsx
Labels: web frontend

#91 Implements signed requests on the proxy
  README.md
  cli/postinstall/mod.go
  contracts/evoting/controller/action.go
  contracts/evoting/controller/mod.go
  proxy/dkg.go
  proxy/election.go
  proxy/mod.go
  proxy/shuffle.go
  proxy/types/dkg.go
  proxy/types/shuffle.go
  proxy/types/signed.go
  proxy/types/signed_test.go
  services/dkg/pedersen/controller/action.go
  services/dkg/pedersen/handler.go
  services/dkg/pedersen/types/http.go
  services/shuffle/neff/controller/action.go
  start_test.sh
Labels: API, node backend

#94 Updates the web-backend to support authenticated requests
  web/backend/access_config.json
  web/backend/config.json.template
  web/backend/package-lock.json
  web/backend/package.json
  web/backend/src/Server.ts
Labels: web backend

#95 Add get results
  web/frontend/src/Routes.ts
  web/frontend/src/components/buttons/DownloadButton.tsx
  web/frontend/src/components/buttons/TextButton.tsx
  web/frontend/src/components/utils/FillElectionInfo.tsx
  web/frontend/src/components/utils/useChangeAction.tsx
  web/frontend/src/components/utils/useConfiguration.tsx
  web/frontend/src/components/utils/useElection.tsx
  web/frontend/src/components/utils/useGetResults.tsx
  web/frontend/src/language/en.json
  web/frontend/src/layout/App.tsx
  web/frontend/src/layout/NavBar.tsx
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/mockData.ts
  web/frontend/src/mocks/setupMockElections.ts
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/election/Result.tsx
  web/frontend/src/pages/election/Show.tsx
  web/frontend/src/pages/election/components/Action.tsx
  web/frontend/src/pages/election/components/ElectionForm.tsx
  web/frontend/src/pages/election/components/ElectionTable.tsx
  web/frontend/src/pages/election/components/ProgressBar.tsx
  web/frontend/src/pages/election/components/RankResult.tsx
  web/frontend/src/pages/election/components/SelectResult.tsx
  web/frontend/src/pages/election/components/SimpleTable.tsx
  web/frontend/src/pages/election/components/Status.css
  web/frontend/src/pages/election/components/Status.tsx
  web/frontend/src/pages/election/components/TextResult.tsx
  web/frontend/src/pages/election/components/utils/countResult.ts
  web/frontend/src/pages/result/Index.tsx
  web/frontend/src/pages/result/Show.css
  web/frontend/src/pages/result/Show.tsx
  web/frontend/src/pages/result/components/DownloadResult.tsx
  web/frontend/src/pages/result/components/Result.css
  web/frontend/src/pages/result/components/Result.tsx
  web/frontend/src/types/electionInfo.ts
Labels: web frontend

#99 Updates the Dela version
  README.md
  cli/memcoin/mod_test.go
  go.mod
  go.sum
  integration/dvotingdela.go
  services/dkg/pedersen/mod_test.go
  services/shuffle/neff/handler_test.go
  setup.sh
  start_test.sh
Labels: node backend

#100 Uses new dela deploy
  deb-package/pkg/etc/dedis/dvoting/network.env
  deb-package/pkg/opt/dedis/dvoting/bin/start-dvoting
Labels: node backend

#101 Mock admin
  docs/frontend_doc.md
  web/frontend/src/mocks/handlers.ts
  web/frontend/src/mocks/setupMockElections.ts
  web/frontend/src/mocks/setupMockUserDB.ts
  web/frontend/src/types/frontendRequestBody.ts
  web/frontend/src/types/userRole.ts
Labels: web frontend

#102 Fix the ballot encoding
  web/frontend/src/language/en.json
  web/frontend/src/pages/ballot/Show.tsx
  web/frontend/src/pages/ballot/components/VoteEncode.tsx
  web/frontend/src/pages/ballot/components/VoteEncrypt.tsx
Labels: web frontend
