Repository dedis/d-voting, pull requests merged in 2023-08, with the labels that each got.

#228 Updates kyber with official shuffling of sequences
  go.mod
  go.sum
Labels: dependencies

#289 Fix: update db utils script to reflect new architecture
  .github/workflows/releases.yml
  README.docker.md
  deb-package/README.md
  web/backend/.eslintignore
  web/backend/dbUtils.js
  web/backend/package-lock.json
  web/backend/package.json
  web/backend/readme.md
  web/backend/src/Server.ts
  web/backend/src/cli.ts
  web/backend/src/model.conf
  web/backend/tsconfig.json
Labels: node backend

#303 refactor: organise permissions into an object
  web/backend/src/Server.ts
Labels: web backend
